*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("images/Top-8-Software-Development-Models.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}


header a:hover{
    color: white;   
}

footer{
    text-align:center;
    background-color: rgba(52, 57, 58, 0.4);
    color: #ffffff;
    padding: 20px;
    bottom: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(8px);
}

.company-name{
    text-align: right;
    background-color: rgba(52, 57, 58, 0.4);
    color: white;
    width: 100%;
    height:fit-content;
    margin: 0;
    padding: 20px 0;
    overflow: hidden;
    backdrop-filter: blur(8px);
}

.homeinfo {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  width: 350px;
  background-color: rgba(52, 57, 58, 0.4); 
  backdrop-filter: blur(8px); 
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


.computer{
width: 50%;
position: absolute;
top: 15%;
right: 15%;
padding: 20px;

}


.homeinfo h2{
    padding: 10px;
    color: #f8d33d;
    font-size: 1.6rem;
}
.homeinfo h3{
    padding: 10px;
    color: #f8d33d;
    font-size: 1.1rem;
}

.homeinfo p{
    padding: 10px;
    color: #ffffff;
    font-size: .9rem;
}
.company-name a{
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    padding-bottom:10px ;
    font-size: 1.2rem;
}

.company-name a:hover{
    color: rgb(1, 255, 247);
}


.company-name .logo {
  position: absolute;
  top: 0px;
  left: 20px;
  height: 60px;
  width: 60px;
  padding-top: 4px;
}
.company-name .brandname {
  position: absolute;
  top: 0px;
  left: 60px;
  height: 45px;
  width: 225px;

}

@media screen and (max-width: 768px) {
  .homeinfo {
    position: static;
    transform: none;
    width: auto;
    margin: 20px;
  }
}
